body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
  text-align: center;
  padding-top: 80px;
}

h1 {
  color: #00ff88;
}

button {
  padding: 10px 20px;
  background: #00ff88;
  border: none;
  cursor: pointer;
}
